.card {
    width: 600px;
    min-height: 600px;
    border-style: solid;
    border-radius: 10px;
    border-color: green;
    border-width: 1px;
}
.body-cont{
    display: flex;
    flex-wrap: wrap;
}
